html{
    background-color: rgb(15, 15, 76);
}
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Overpass', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* div {
    background-color:rgb(33, 33, 49);
   padding: 20px;
    border-radius: 25px;
    height: 250px;
    width: 100;
} */

.box {
    height: 20px;
    width: 20px;
    background-color: rgb(107, 109, 113);
    border-radius: 100%;
    text-align:center
}

.test {
    background-color: red;
    width: 50%;
    height: 50%;
}

.container {
    width: 310px;
    height: 250px ;  
    background: solid;
    background-color: rgb(19, 23, 43);
    border-radius: 15px;
    padding: 40px;
}

.box-container {
    display: flex;
    gap: 20px;
    /* position: fixed; top: 300px; left:430px; */
    background: transparent;
    position: relative; top: 13px;
    /* width: 500px; */
}
textarea{
    background-color:rgb(33, 33, 49);
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
}

/* px rem em % */
/* 16px === 100% === 1rem/em
1.5rem */

.box{
    background-color: rgb(48, 48, 63);
    color: white;
    font-size: x-large;
    padding: 1rem;
    height: 20px;
    width: 30px;
}
.button{
    /* position: fixed; top: 420px; left: 470px; */
    background:solid;
    border-radius: 25px;
    border: none;
    width: 300px;
    height:40px;
    position:relative; top:30px ;
}
.button{
    color: white;
    background-color: rgba(255, 166, 0, 0.856);
    border-color: rgba(255, 166, 0, 0.856);
}
.button:hover{
color:rgba(255, 166, 0, 0.856);
background-color: white;
border-color:rgba(255, 166, 0, 0.856); ;
}
.icon{
    position: relative; bottom: 10px ;
}